<nav class="navbar navbar-dark bg-primary">

    <div class="container-fluid text-center">
        <!-- THIS IS THE LOG OUT BUTTON maybe i should change that it's a confusion-->
        <!-- not actually the logout button oop --->

        <a href="" class="dropdown-toggle pull-right" data-toggle="dropdown">
            <img src="views/adminLTE/img/person-64x64.png" class="user-image" alt="User Image">
            <span class="hidden-xs text">{{user | uppercase}}</span>

        </a>
    </div>

</nav>

<div class="skin-blue" style="height:80%;">

    <!-- /.box -->
    <div class="container-fluid be-tall">

            <div class="box box-primary direct-chat direct-chat-primary" >
                <div class="box-header with-border">
                    <h3 class="box-title"> Mentor Chat </h3>
                </div>

                <div class="box-body">
                    <!-- Conversations are loaded here -->
                    <div class="direct-chat-messages" id="group" style="height:100%;">
                    </div>
                </div>

                <div class="box-footer">
                    <div>
                        <div class="input-group">   <!-- TODO change this over to direct chat with mentor / mentee -->

                            <input type="text" name="message" placeholder="Type Message ..." class="form-control"
                                   ng-model="message" my-enter="send_message_primary({{message}}')">

                            <!-- ng-model="message" my-enter="send_message(\''+chat_friend+'\',\'{{message}}\')" -->
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-primary btn-flat" ng-click="send_message_primary(message)">Send</button>
                            </span>
                        </div>

                        <!-- <button class="bg_none pull-right" ng-click="send_message('+chat_friend+',message)"><i class="glyphicon  glyphicon-thumbs-up"></i> </button>\ -->


                    </div>
                </div

            </div>
        <br>
    </div>

    <div class="container-fluid">

        <div class="box box-primary direct-chat direct-chat-primary"">
            <div class="box-header with-border">
                <h3 class="box-title"> Notice Boards. Now Showing : {{noticeGroupSelected}} </h3>
            </div>

            <div class="box-body">
                <!-- This top bar is for loading tab buttons. The block below that is for loading notices. -->
                <div class="" id="noticeBoardTabs" style="height:10%">
                </div>
                <div class="direct-chat-messages" id="noticeBoard" style="height:90%;">
                </div>
            </div>

        </div>
    <br>
    </div>

    <!-- /.row -->
    <!-- Modal -->
    <!-- Pop-up for when user sends friend request -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Are you sure you want to connect to {{friend}}?</h4>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="confirm()">ok</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">cancel</button>
                </div>
            </div>

        </div>
    </div>


</div>
