<script src="/views/js/show-hide-mentor.js"></script>

<nav class="navbar navbar-dark bg-primary">
    <div class="container-fluid">
    </div>
</nav>

<div class="container text-center">
    <div class="container inner_container">
        <div class="row text-center Absolute-Cente is-Responsive">

            <div class="page-header">
                <h1>LOGIN</h1>
            </div>

            <form>

                <div class="form-group input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input class="form-control" type="text" name='handle' placeholder="handle" ng-model="login_data.handle"/>
                </div>

                <div class="form-group input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input class="form-control" type="password" name='password' placeholder="password" ng-model="login_data.password" my-enter="login()"/>
                </div>

                <div class="checkbox">
                    <label><input type="checkbox" value="" checked>Remember me</label>
                </div>

                <button type="button" class="btn btn-primary btn-block" ng-click="login()"><span class="glyphicon glyphicon-off"></span>
                    Login</button>
                <div class="form-group pull-left"><a href="#" data-toggle="modal" data-target="#myModalForgotPass">Forgot Password?</a>
                <!-- As of yet, no forgot password functionality
                    > There's now a pop-up, but that's it -- it doesn't facilitate password reset -->
                </div>

                <!-- opens pop up menu (see below) -->
                <div class="form-group pull-right">Not a member?<a href="#" data-toggle="modal" data-target="#myModalRegister">Register</a>
                </div>

            </form>
    </div>

</div>


<div class="modal fade" id="myModalRegister" role="dialog">

    <div class="modal-dialog">

        <div class="modal-content" >

            <div class="modal-header" style="padding:15px 50px;">

                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="text-center"><span class="glyphicon glyphicon-lock"></span> Register</h4>

            </div>

            <!-- This is the form linked to the ./action API endpoint in controller.js -->

            <div class="modal-body" style="padding:20px 50px;">
                <form role="form">

                    <div class="form-group">
                        <label for="name"><span class="glyphicon glyphicon-user"></span> Name</label>
                        <input type="text" class="form-control" id="name" placeholder="Full Name" ng-model="user.name">
                        <p class="form-error" id="nameError"></p>
                    </div>


                    <div class="form-group">
                        <label for="handle"><span class="glyphicon glyphicon-user"></span> Handle</label>
                        <input type="text" class="form-control" id="handle" placeholder="Enter Handle" ng-model="user.handle">
                        <p class="form-error" id="handleError"></p>
                    </div>


                    <div class="form-group">
                        <label for="psw"><span class="glyphicon glyphicon-eye-open"></span> Password</label>
                        <input type="password" class="form-control" id="psw" placeholder="Enter password" ng-model="user.password">
                        <p class="form-error" id="passwordError"></p>
                    </div>


                    <div class="form-group">
                      <label for="yearGroup"><span class="glyphicon glyphicon-calendar"></span> What year group are you in? </label>
                      <select class="form-control" id="yearGroup" ng-model="user.yearGroup">
                        <option value="" >----- Please select -----</option>
                        <option value="12"> Year 12 </option>
                        <option value="13"> Year 13 </option>
                        <option value="14"> Degree Year 1 </option>
                        <option value="15"> Degree Year 2 </option>
                        <option value="16"> Degree Year 3 </option>
                        <option value="17"> Degree Year 4 </option>
                        <option value="18"> Degree Year 5 </option>
                      </select>
                      <p class="form-error" id="yearGroupError"></p>
                    </div>


                    <div class="form-group">
                      <label for="mentor_mentee"><span class="glyphicon glyphicon-leaf"></span> You are? </label>
                      <select class="form-control" onchange="set_fields_state()" id="mentor_mentee" ng-model="user.mentor_mentee">
                        <option value="" >----- Please select -----</option>
                        <option value="mentor"> Mentor </option>
                        <option value="mentee"> Mentee </option>
                      </select>
                      <p class="form-error" id="userTypeError"></p>
                    </div>


                    <div class="form-group" id="primaryContactGroup">
                        <label for="primaryContact"><span class="glyphicon glyphicon-user"></span> Mentor</label>
                        <input type="text" class="form-control" id="primaryContact" placeholder="Enter mentor name" ng-model="user.primaryContact">
                        <p class="form-error" id="primContError"></p>
                    </div>


                    <div class="form-group" id="courseGroup">
                      <label for="course"><span class="glyphicon glyphicon-education"></span> What area is your course in? </label>
                      <select class="form-control" id="course" ng-model="groupData.course">
                        <option value="" >----- Please select -----</option>
                        <option value="Mathematical-Sciences"> Mathematical Sciences </option>
                        <option value="Natural-Sciences"> Natural Sciences </option>
                        <option value="Economics-Management-and-Business"> Economics, Management and Business </option>
                        <option value="Medicinal-Sciences"> Medicinal Sciences </option>
                        <option value="Social-Sciences"> Social Sciences </option>
                        <option value="Creative-Arts"> Creative Arts </option>
                        <option value="Liberal-Arts"> Natural Sciences </option>
                        <option value="Humanities"> Humanities </option>
                        <option value="Linguistics-and-Language"> Linguistics and Language </option>
                        <option value="Law"> Law </option>
                      </select>
                      <p class="form-error" id="courseError"></p>
                    </div>


                    <div class="form-group" id="oxbridge">
                      <label for="course"><span class="glyphicon glyphicon-apple"></span> Are you interested in applying to Oxbridge? </label>
                      <select class="form-control" id="oxbridge" ng-model="groupData.oxbridge">
                        <option value="" >----- Please select -----</option>
                        <option value="yes"> Yes </option>
                        <option value="no"> No </option>
                      </select>
                      <p class="form-error" id="oxbridgeError"></p>
                    </div>


                    <div class="form-group">
                        <label for="email"><span class="glyphicon glyphicon-envelope"></span> Email</label>
                        <input type="text" class="form-control" id="email" placeholder="Enter Email" ng-model="user.email">
                        <p class="form-error" id="emailError"></p>
                    </div>


                    <div class="form-group">
                        <label for="phone"><span class="glyphicon glyphicon-phone"></span> Phone</label>
                        <input type="text" class="form-control" id="phone" placeholder="Enter Phone number" ng-model="user.phone">
                        <p class="form-error" id="phoneError"></p>
                    </div>


                    <button type="button" class="btn btn-primary btn-block" ng-click="Register()"><span class="glyphicon glyphicon-off"></span>
                        Register</button>
                </form>
            </div>


        </div>
    </div>
</div>


<div class="modal fade" id="myModalForgotPass" role="dialog">
  <div class="modal-dialog">

      <div class="modal-content" >

          <div class="modal-header" style="padding:15px 50px;">

              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="text-center"><span class="glyphicon glyphicon-lock"></span> Forgot Password</h4>

          </div>

          <div class="modal-body" style="padding:20px 50px;">
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

          </div>

      </div>
    </div>
</div>
